<section @fadeInAnimation>
 

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <h2>Delete Ingredients</h2>

  
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="ingredient">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'nameColumnAlignment'"> Name </mat-header-cell>
      <mat-cell *matCellDef="let ingredient" [ngClass]="'nameColumnAlignment'"> {{ingredient.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let ingredient">
          <button (click)="deleteIngredient(ingredient.id)" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>

</section>