<section @fadeInAnimation>

  <button mat-button [mat-dialog-close]="true" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
    
  <h3 md-dialog-title>Login to Cookie.jar</h3>
  
  <mat-dialog-content>

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <br>

  <form (ngSubmit)="loginUser(loginForm)" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input ngModel #loginForm.username="ngModel" type="text" class="form-control" id="username" name="username" placeholder="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input ngModel #loginForm.password="ngModel" type="password" class="form-control" id="password" name="password" placeholder="password">
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>

  </mat-dialog-content>

</section>