.star-ratings-sprite {
    background: url('/assets/images/star-rating-sprite.png') repeat-x;
    font-size: 0;
    height: 40px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 132px;
    margin: 0 auto;
  }
    
.star-ratings-sprite-rating {
    background: url('/assets/images/star_rating.jpg') repeat-x;
    background-position: 0 100%;
    float: left;
    height: 40px;
    display:block;
}

.nameColumnAlignment{
    flex: 0 0 200px;
    padding-right: 10px;
}

.ratingColumnAlignment{
    padding-right: 30px;
}

/* Search input text */
:host ::ng-deep .mat-input-placeholder {
    color: rgb(100, 97, 97);
}

/* Search input underline */
:host ::ng-deep .mat-input-ripple  {
    background-color: #81D0D3;
}