<section @fadeInAnimation>
 
  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <h2><span class="cookie-jar-title">{{user.firstName}}'s Cookie.Jar</span></h2>

  <br>

  <a class="btn btn-primary" routerLink="/recipe/add">Add Recipe</a>

  <br>
  <br>

  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'nameColumnAlignment'"> Name </mat-header-cell>
        <mat-cell *matCellDef="let recipe" [ngClass]="'nameColumnAlignment'"> {{recipe.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="temp">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Temperature </mat-header-cell>
        <mat-cell *matCellDef="let recipe"> {{recipe.temp}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
        <mat-cell *matCellDef="let recipe"> {{recipe.time}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
          <mat-cell *matCellDef="let recipe"><button (click)="getRecipeDetails(recipe.id)" class="btn btn-primary">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>
            <a class="btn btn-info" [routerLink]="['/recipe/edit/', recipe.id]">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>&nbsp;
            <button (click)="deleteRecipe(recipe.id)" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button></mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>



</section>