<div>
    
    <button mat-button [mat-dialog-close]="true" class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>

    <h2 md-dialog-title>{{data.recipeDetails.name}}</h2>

    <mat-dialog-content>

        <table class="table table-striped table-bordered table-hover" id="dataTable" style="width:100%">
            <thead>
                <tr>
                    <th>Yield</th>
                    <th>Bake Time</th>
                    <th>Bake Temperature</th>
                    <th>Ingredients</th>
                    <th>Instructions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{data.recipeDetails.yield}}</td>
                    <td>{{data.recipeDetails.time}}</td>
                    <td>{{data.recipeDetails.temp}}</td>
                    <div *ngFor="let ingredient of data.recipeDetails.ingredientRecipeListItem">
                        <td>
                            <ul>
                                <li>{{ingredient.quantity}} {{ingredient.unitOfMeasurement}} {{ingredient.ingredient.name}}</li>
                            </ul>
                        </td>
                    </div>
                    <td>{{data.recipeDetails.instructions}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary" (click)="openUserMailClient()">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Email This
            </button>
        </div>
    </mat-dialog-content>

</div>