body {
    padding-top: 70px;
  }
.navbar.navbar-inverse {
    border: none;
    background-color: #69502F;
    color: white
}
.navbar .navbar-brand {
    padding-top: 0px;
}
.navbar .navbar-brand img {
    height: 50px;
    color: white
}