body {
    padding-top: 70px;
  }

.navbar.navbar-inverse {
    border: none;
    background-color: #69502F;
}

.navbar .navbar-brand img {
    margin-top: -12px;
    margin-left: -25px;
    border-radius: 90%;
    height: 100px
}

.btn-info {
    background-color: #97D7D9;
    color: #F0EFC9;
    font-size: 16px;
}

@media only screen and (max-width: 1050px) {
    #logo {
        display: none;
    }
}