/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding-top: 70px;
}

table {
  margin-top: 10px;
}

/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
    .btn-primary {
        background-color: #69502F;
        color: white
    }
    .btn-info {
        background-color: #97D7D9;
        color: white;
    }
    .btn-primary:hover {
        background-color: #BA9765;
        color: white
    }
    .btn-info:hover {
        background-color: #B6D3D2;
        color: white;
    }
}
